/* --------------------------------------------------
  Footer Style
-------------------------------------------------- */
.footerwrapper {
/*  width: 100%
  height: auto;*/


      .firstFooter {
        background-color: $black;
        width: 100%;
        height: auto;
        display: inline-block;

              .top-wrap {
                display: inline-block;
                color: $white;
            
                  .headertoptext {
                    display: inline-block;
                    padding-top: 15px;
                    /*adding: 19px 5px 10px 50px;*/
                  }
                  .btnheader{
                    background-color: $white;
                    border-style: none;
                  }
            }
            .rightfloat {
              display: inline-block;
              float: right;
              padding-top: 15px;
              /*width: auto;*/
            
                  .headerrightul {
                    display: inline-block;
                    color: $white;
                    width: 100%;
                    /*margin-right: 60px;*/
                  }
                  .headerrightli {
                    display: inline-block;
                    float: left;
                    text-decoration: none;
                    list-style: none;
                    /*padding: 19px 2px;*/
                  }
                  .rightlitxt1 {
                    list-style: none;
                    float: left;
                   /* margin-right: 19px;*/
                    /*padding-top: 15px;*/
                    /*text-align: center;*/
                  }
                  .rightlitxt2 {
                    display: inline-block;
                    float: left;
                    /*padding: 19px 0px 10px 10px;*/
                  }

            }

            .secondFooter {
              display: inline-block;
              width: 100%;

                  .listAlignment {
                    list-style: none;
                    
                  }
            }
      }

      .text-row {
        display: inline-block;
        width: 100%;
      }

      .borderfooter {
        border-bottom: solid;
        /*border-width: medium;*/
        width: 100%;
        height: 2px;
      }



}