/*typography*/
.headerfont{
  color: $white;
}
.h3txt {
  font-weight: bold;
  text-align: center;
}
.h3white{
  color: $white;
}

.h4txt {
  font-weight: bold;
}
.h4black{
  color: $black;
}
.blog-headerText {
  font-weight: bold;
  display: inline-block;
}
